body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-board {
    height: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: 150px 10px 150px 10px 150px;
    grid-template-rows: 150px 10px 150px 10px 150px;
    color: white;
}

.vertical-gap {
    background-color: black;
}

.horizontal-gap{
    background-color: black;
    grid-column: 1/6;
}

.space {
    position: relative;
}

.symbol {
    height: 150px;
    width: 150px;
    top: 0;
    left: 0;
    position: absolute;
}

fieldset {
    padding: 16px;
    display: flex;
}

label, input {
    display: block;
    margin: 8px;
}

.start-button {
    margin-top: 16px;
}

